[flake8]
max-line-length = 120  # or 88, as per PEP 8, adjust as needed
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
ignore =
    E203,
    W503, # This is now allowed
per-file-ignores =
    __init__.py:F401
